.checkBox:global(.MuiButtonBase-root) {
    padding: 0;
}

.removeDemonButton:global(.MuiIconButton-root) {
    padding: 0;

    .removeDemonButtonIcon {
        color: palevioletred;
    }
}

.noIngredientsMsg {
    display: flex;
    align-items: center;
}

.warningIcon {
    color: yellow;
    opacity: 50%;
}