.dataTable {
    .checkBox:global(.MuiButtonBase-root) {
        padding: 0;
    }

    .nameColumnHeader {
        min-width: 150px;
    }

    .raceColumnHeader {
        min-width: 100px;
    }
    
    .removeDemonButton:global(.MuiIconButton-root) {
        padding: 0;
    
        .removeDemonButtonIcon {
            color: palevioletred;
        }
    }
}

.warningIcon {
    color: yellow;
    opacity: 50%;
}