.componentContainer {
    display: flex;
    flex-flow: column;
    align-items: center;

    .pagination {
        margin-bottom: 10px;
    }

    .recipeTable {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .baseIngredientName {
            color: aqua;
        }

        .recipeCard:global(.MuiCard-root) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            width: 200px;
            margin-right: 10px;
            margin-bottom: 10px;

            :global(.MuiCardContent-root) {
                padding: 0px;
                display: inline-block;

                > div {
                    display: inline-block;
                }
            }
        }
    }
}