.dataTable {
    width: 100%;
    min-width: 600px;

    table {
        display: block;
        empty-cells: show;
        border-spacing: 0;

        thead {
            display: block;
            position: relative;
            overflow-y: scroll;
        }

        tbody {
            display: block;
            position: relative;
            width: 100%;
            overflow-y: scroll;
            height: calc(100vh - 140px);
        }

        tr {
            width: 100%;
            display: flex;
        }

        td, th {
            display: block;
            flex-basis: 150px;
            word-wrap: break-word;
            min-width: 110px;
        }

        .nameColumn {
            flex-basis: 100%;
            word-wrap: break-word;
            min-width: 75px;
        }

        .lvlColumn {
            flex-basis: 40%;
            min-width: 35px;
        }

        .raceColumn {
            flex-basis: 80%;
            min-width: 50px;
        }

        .statColumn {
            flex-basis: 40%;
            min-width: 35px;
        }

        .ingredientsColumn {
            flex-basis: 40%;
            min-width: 35px;
        }

        $recipeButtonBackgroundColor: rgb(40, 130, 190);
        .recipeButton {
            background-color: $recipeButtonBackgroundColor;
            border-width: 2px;

            &:hover {
                background-color: lighten($recipeButtonBackgroundColor, 10);
            }
        }
    }
}