.fusionRecommender {
    .addDemonsAndCalcResetButtonContainer {
        display: inline-flex;
        flex-direction: column;
    }

    .calcResetButtonContainer {
        display: inline-flex;
        margin-top: 20px;
    }

    .calcResetButtonContainer > button {
        height: 60px;
    }

    .calculateButton {
        margin-right: 6px;
        flex-grow: 2;
    }

    $calculate-button-color: #579737;
    $calculate-button-glow-color: mix($calculate-button-color, yellow, 50%);
    .calculateButton:enabled {
        background: linear-gradient(
            45deg, 
            $calculate-button-color 0%, 
            $calculate-button-color 40%, 
            $calculate-button-glow-color 50%, 
            $calculate-button-color 60%, 
            $calculate-button-color 100%);
        background-repeat: repeat-x;
        background-size: 200% 100%;
        animation: shining 2s linear infinite;
        @keyframes shining {
            0% {
                background-position-x: -40%;
            }
            12% {
                background-position-x: 140%;
            }
            100% {
                background-position-x: 140%;
            }
        }
    }

    $reset-button-color: #a82727;
    .resetButton {
        background-color: $reset-button-color;
        flex-grow: 1;

        &:hover {
            background-color: lighten($color: $reset-button-color, $amount: 10);
        }
    }
}