.demonAdderContainer {
    display: inline-flex;
    flex-direction: column;

    > p {
        margin: 0;

        &:not(:first-of-type) {
            margin-top: 10px;
        }
    }

    > div {
        margin: 5px 0;
    }
}

.subAdderContainer {
    display: flex;
}

.lvlFieldsContainer {
    display: flex;
}

.lvlFieldsContainer > div:first-child {
    margin-right: 6px;
}

$add-button-color: #4d7035;

.addDemonButton:global(.MuiButtonBase-root) {
    background-color: $add-button-color;
    margin-left: 6px;

    &:hover {
        background-color: lighten($color: $add-button-color, $amount: 10)
    }
}

.removeDemonButtonIcon {
    color: palevioletred;
}

.fusionResultsTable {
    min-width: 900px;
}