.myApp {

    .appBody {
        padding: 10px;
    }

    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }

    $headerBackgroundColor: rgb(50, 160, 230);
    h1 {
        color: rgb(30, 30, 30);
        padding-left: 5px;
        margin-bottom: 10px;
        font-size: 40px;
        background-color: $headerBackgroundColor;
    }

    h2 {
        color: lighten($color: $headerBackgroundColor, $amount: 20);

        &:not(:first-of-type) {
            margin-top: 30px;
        }
    }
    
    /* Override Material UI */
    .MuiDataGrid-root .MuiDataGrid-colCell, .MuiDataGrid-root .MuiDataGrid-cell {
        padding: 0 8px 0 4px;
    }

    .MuiDataGrid-row.Mui-odd {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .MuiDataGrid-columnsContainer {
        background-color: rgba(0, 0, 0, 0.5);
    }
}